<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kickstarter: http://ogp.me/ns/fb/kickstarter#"><script type="text/javascript" async="" src="https://cdn.siftscience.com/s.js"></script><script src="https://connect.facebook.net/en_US/sdk.js?hash=e05cc3a7daefa4b4acaeb48fd041dbe7&amp;ua=modern_es6" async="" crossorigin="anonymous"></script><script type="text/javascript" async="" src="//s3.amazonaws.com/ki.js/72880/gUN.js"></script><script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script><script async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="//cdn3.optimizely.com/js/geo2.js"></script><script>
  docElement = this.document.documentElement;
  docElement.className=docElement.className.replace(/\bno-js\b/,'') + 'js';
</script>
<title>
Dear Genie
</title><script>
    window.honeybadgerConfiguration = {
    apiKey : "3ed52f9b",
    environment : "production",
    component : "site",
    action : "index",
    revision : "e08c2e0f428a7924c03bc632ca2b023a50588a33",
    onerror : false,
  };
  
 
</script>
   </title>

    <!-- attach our stylesheet -->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <!-- the header -->
    <header>


    </header>

    <!-- the content -->
    <main>
            <div class="hero">
                    <!-- content for the hero -->
                    <div class="hero-content">
                        <h1 class="hero-title">Will I Kick Start?</h1>
                        <p></p>
                        <a href="{{ url_for('index') }}"> Predict my future</a>
                        <a href="https://www.tanyaiscurious.com/"> Learn More</a>
<!--
                        <div>    
                                <form method = "post" action="{{ url_for('index') }}" >
                                    <div>
                                            <a href="#"> Predict my future</a>
                                    </div>
                                </form>
                         <div>    
                                        <form method = "post" action="{{ url_for('index') }}" >
                                            <div>
                                                    <a href="#"> Learn More</a>
                                            </div>
                                        </form> -->
        
        
        
                       
        
                    </div>
                </div>

            </main>
            </body>